@font-face {
  font-family: "Satisfy";
  src: url(/src/fonts/Satisfy-Regular.ttf);
}

body {
  padding: 5px;
  background-color: rgb(1, 63, 1);
}

header {
  display: flex;
  justify-content: center;
  gap: 50px;
}

img {
  width: 8%;
  height: 8%;
  margin: auto 0;
}

h1 {
  font-family: Satisfy, sans-serif;
  color: whitesmoke;
  font-size: 5em;
}

h2 {
  font-size: 2em;
}

section,
table {
  background: #BFECC6;
}

main {
  display: grid;
  grid-template-areas:
    "a a c"
    "b b c";
  gap: 10px;
}

.ephemeride {
  grid-area: a;
}

table {
  grid-area: b;
}

section.temp {
  grid-area: c;
}

td,
tr {
  border: solid 2px rgb(82, 65, 99);
}

.img-prev {
  width: 50%;
}

.temp-container p {
  margin: 0;
}

.temp-container figure:first-of-type p {
  font-size: 2em;
  width: 15%;
  background-color: #2196F3;
  border-radius: 50%;
  padding: 10px 5px;
}
.temp-container figure:nth-of-type(2) p {
  font-size: 2em;
  width: 15%;
  background-color: rgb(232,100,100);
  border-radius: 50%;
  padding: 10px 5px;
}
.temp-container figure:nth-of-type(3) p {
  font-size: 2em;
  width: 15%;
  background-color: #7BE575;
  border-radius: 50%;
  padding: 10px 5px;
}

figcaption {
  padding: 0 0 25px 7px ;
  margin-top: 10px;
}

fieldset p, legend, label {
  color: whitesmoke;
}

fieldset#contact {
  display: block;
}

fieldset .contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

fieldset label {
  display: inline-block;
  width: 20%;
}

.msg label {
  vertical-align: top;
}

fieldset#contact input, textarea {
  width: 75%;
}

fieldset#submit input, button {
  width: 25%;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 2%;
}

footer {
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
}

footer p, a {
  margin: 5% 0 0 0;
}

footer a:visited {
  color: #DAE201;
}



